@charset "UTF-8";

html{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";/*|Fonte dos títulos da página*/
}
.clearfix:after, .row:after{
	content: ' ';
	display: block;
	clear: both;
}
/*configurações da tabela*/
table#tabela{
	border: 1px solid #606060;
	border-spacing: 0px;
}
table#tabela td{
	border: 1px solid #606060;
	padding: 10px;/*Espaço interno dos objetos*/
}
table#tabela td.ce{
	color: #ffffff;
	background-color: #606060;
	
}
table#tabela td.cd{
	background-color: #cecece;
}
table#tabela caption{
	color: #000000;
	font-size: 15pt;
	font-weight: border;
	
}
/* Configuração do header/cabeçalho*/
.top-header{
    text-align: center;
}
.top-header-logo{
    margin: .5em;
}

.top-nav{
    background: #000000; /*azul-#09079e*/
    text-align: center;
}
.top-nav ul{
    margin: 0;
    padding: 1em;
    list-style: none;
}

.top-nav a{
    color: white;
    text-decoration: none;/*tira o sublinhado*/
    padding: 1em;/* 1 em equivale a 16 px*/
    display: block;
}
.top-nav a:hover{
    background: #0080ff;
}
/* -------------------------------------*/
/* Configuração da section 1*/
.top-content{
	padding: 1em;
	text-align: center;
	background: #c0c0bb;/*3e8f6dd*/
}
.top-content-title{
	color: #050052;
	font-size: 2em;
	margin: 1.375em;
}
.top-content-subtitle{
	color: #050052;
	font-size: 1em;
}
.top-content-subtitle-dois{
	color: #050052;
	font-size: 1em;
}
/* -------------------------------------*/
/* Configuração da section 2*/
.middle-content{
	padding: 2em;
	background: #c0c0bb;
	text-align: center;
}
.middle-content-title{
	font-size: 1.25em;
	color: #050052;
	text-transform: uppercase;
}
.middle-content p{
	line-height: 1.5em;
	color: #222;
}
.middle-content span[class*=icon]{
	font-size: 3.5em;
	color: #050052;
}
/* -------------------------------------*/
/* Configuração da section 3 conteudo principal*/
.main-content{
	padding: 4em;
}
.main-content p{
	line-height: 1.1em;
}
.main-content-article{
	margin-bottom: 3em;
}
.main-content-title{
	letter-spacing: .0.6em;
}
/* -------------------------------------*/
/* Configuração do botão*/
.button{
	display: inline-block;
	padding: .9em 2em;
	background: #0080ff;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}
.button:hover{
	background: #37a0a0;
}
/* -------------------------------------*/
/*Configuração do footer*/
.footer{
    background:#25303e;
	color: #83969f;
	text-align:center;
	padding-bottom:2em;
}

.footer-menushare{
    background:#303d4c;	
    padding: .5em;
}

.footer-menushare li{
    display: inline-block;
    margin: 0 1em;
}
.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}
/*Parte da configuração da responsividade do site*/
@media screen and (min-width: 48.75em){
	.top-header-logo{
		float: left;
	}
	.top-nav{
		background: transparent;
		float: right;
		margin-top: 50px;
	}
	.top-nav ul{
		margin: 0;
		padding: 0;
	}
	.top-nav li{
		display: inline-block;
	}
	.top-nav a{
		color: #0080ff;
	}
	.top-nav a:hover{
		background: #808080;
	}
	.top-content{
		background: #000000;
		color: #f5f5ff;
	}
	.top-content-title, .top-content-subtitle, .top-content-subtitle-dois{
		color: black;
	}
	.col-1_4{
		width: 44%;
		margin: 3%;
		float: left;
	}
}
@media screen and (min-width: 49em){
	.top-content{
		background-image: url(../imagens/iot11.jpg);
	}
	.top-content-title, .top-content-subtitle-dois{
		color: black;
	}
	.top-content-subtitle{
		color: black;
	}
}
@media screen and (min-width: 70.5em){/*62.5*/
	.top-content{
		background-color: #000000;
		background-image: url(../imagens/iot10.jpg);
		height: 20em;
		padding-top: 14em;
		
		
	}
	.top-content-title,.top-content-subtitle-dois{
		color: black;
	}

}


